ul.navbar-nav li a { color: black; transition: .5s; }
ul.navbar-nav li a:hover { color: orangered; }
.title{
    font-size: 70px;
    margin-top: 20px;
}
.text-muted{
    margin-top: 20px;
}




